<div class="login-container flex justify-content-center">
  <div class="w-8">
    <div class="container w-full">
      <div class="card card-container">
        <div class="grid h-35rem">
          <div class="col-6 p-fluid justify-content-center flex">
            <div class="w-9">
              <div class="login-box">
                <div class="header flex justify-content-center m-5">
                  <h2 class="heading-text">Reset Password</h2>
                </div>
                <div class="field p-fluid mb-5">
                  <span class="p-float-label">
                    <input
                      type="text"
                      id="inputtext"
                      pInputText
                      autocomplete="off"
                      [disabled]="isOtpSend"
                    />
                    <label for="inputtext">Email</label>
                  </span>
                </div>
                <ng-container *ngIf="isOtpSend">
                  <div class="field p-fluid mb-5">
                    <span class="p-float-label">
                      <input
                        type="text"
                        id="inputtext"
                        pInputText
                        autocomplete="off"
                      />
                      <label for="password">OTP</label>
                    </span>
                  </div>
                  <div class="field p-fluid mb-5">
                    <span class="p-float-label">
                      <p-password [toggleMask]="true"></p-password>
                      <label for="password">New Password</label>
                    </span>
                  </div>
                  <div class="field p-fluid mb-5">
                    <span class="p-float-label">
                      <p-password [toggleMask]="true"></p-password>
                      <label for="password">Match Password</label>
                    </span>
                  </div>
                </ng-container>
                <p-button
                  (onClick)="onSendOTP()"
                  type="submit"
                  [label]="!isOtpSend ? 'Send OTP' : 'Reset Password'"
                ></p-button>
              </div>
            </div>
          </div>

          <div class="col-1">
            <p-divider layout="vertical"> </p-divider>
          </div>
          <div class="col-5 flex align-items-center justify-content-center">
            <div class="p-fluid">
              <img
                width="350px"
                height="350px"
                src="./../../../assets/images/forgot-password.avif"
                alt="forgot-password"
                srcset="
                  https://img.freepik.com/premium-vector/forgot-password-concept-isolated-white_263070-194.jpg?w=1060
                "
              />

              <div class="footer-actin mt-5">
                New User ?
                <a routerLink="/auth/signup">SignUp</a> &nbsp;&nbsp;&nbsp; Have
                an Account ? <a routerLink="/auth/signin">SignIn</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <p-progressSpinner *ngIf="loading"></p-progressSpinner> -->
